:root {
    --clr-bg0: #282828;
    --clr-bg0-o: #282828cc;
    --clr-bg1: #3C3836;
    --clr-fg1: #EBDBB2;
    --clr-green: #B8BB26;
    --clr-red: #FB4934;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--clr-bg0);
    overflow: hidden;
}

.btn {
    all: unset;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: var(--clr-bg1);
    color: var(--clr-fg1);
    font-family: 'JetBrains Mono';
    font-size: 12px;
    font-weight: bold;
    border: solid 2px var(--clr-fg1);
}

.modal-root {
    position: fixed;
    background-color: var(--clr-bg0-o);
    backdrop-filter: blur(2px);;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
}

.modal {
    width: 400px;
    font-family: 'JetBrains Mono';
    font-size: 12px;
    font-weight: normal;
    color: var(--clr-fg1);
}

.modal-esc-helper {
    font-family: 'JetBrains Mono';
    font-size: 12px;
    font-weight: normal;
    color: var(--clr-fg1);
    opacity: 80%;
}



/*
    ##############################
    ### ChannelSelectionScreen ###
    ##############################
*/
.channel-selection-screen {
    display: flex;
    flex-direction: column;
    gap: 22px;
    align-items: center;
    justify-content: center;
    width: 100dvw;
    height: 100dvh;
}

.channel-selection-screen-title {
    font-family: 'JetBrains Mono';
    font-weight: bold;
    font-size: 41px;
    color: var(--clr-fg1);
    width: fit-content;
}

.channel-list {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
}

.channel-list > li {
    all: unset;
}

.channel-list-item {
    all: unset;
}

.channel-list-item {
    all: unset;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: var(--clr-bg1);
    color: var(--clr-fg1);
    font-family: 'JetBrains Mono';
    padding: 10px;
}

.channel-list-item > * {
    all: unset;
}

.channel-list-item-title {
    font-weight: bold;
    font-size: 22px;
}

.channel-list-item-description, .channel-list-item-link {
    font-weight: 100;
    font-size: 12px;
}



/*
    ############################
    ### ChannelPreviewScreen ###
    ############################
*/
.channel-updated-indicator, .channel-avaible-indicator {
    all: unset;
    font-size: 12px;
    font-family: 'JetBrains Mono';
    font-weight: normal;
}

.channel-updated-indicator.true, .channel-avaible-indicator.true {
    color: var(--clr-green);
}

.channel-updated-indicator.false, .channel-avaible-indicator.false {
    color: var(--clr-red);
}


.channel-preview-screen {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.channel-preview-screen .navbar {
    /* subtract the parent's padding */
    --width: calc(100dvw - 24px);
    width: var(--width);
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.navbar-right {
    flex-grow: 1;
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: end;
}

.channel-preview-screen .navbar .channel-indicators {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
}

.channel-metadata {
    all: unset;
}

.channel-metadata {
    all: unset;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: var(--clr-bg1);
    color: var(--clr-fg1);
    font-family: 'JetBrains Mono';
    padding: 10px;
}

.channel-metadata > * {
    all: unset;
}

.channel-metadata-title {
    font-weight: bold;
    font-size: 22px;
}

.channel-metadata-description, .channel-metadata-link {
    font-weight: 100;
    font-size: 12px;
}

.channel-articles {
    width: auto;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px;
    list-style-type: none;
}

.channel-articles h1 {
    all: unset;
    font-family: 'JetBrains Mono';
    font-size: 31px;
    font-weight: bold;
    color: var(--clr-fg1);
}

.channel-articles-list {
    width: fit-content;
    height: 800px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0;
    list-style-type: none;
}

.article-table {
    border-collapse: collapse;
}

.article-table th, .article-table td {
    border: solid 2px var(--clr-fg1);
    padding: 8px;
    font-family: 'JetBrains Mono';
    font-weight: bold;
    color: var(--clr-fg1);
}

.article-table-root {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 8px;
    background-color: var(--clr-bg1);
    width: fit-content;
}